* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../images/coffee.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
}

main {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding: 10px;
  border: 1px solid silver;
  box-shadow: 1px 1px 1px 1px  rgb(138, 109, 109);
  width: 40%;
  background-color: #fff;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.recycle {
  margin-left: 50px;
}

.task-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.list {
  list-style: none;
}

.input-list {
  width: 90%;
  border: none;
  outline: none;
  background-color: #fff;
  padding: 5px;
  margin-top: 10px;
}

.add-task {
  width: 100%;
  padding: 5px;
  border: none;
  outline: none;
  border-bottom: 1px solid silver;
}

.btn {
  padding: 5px;
  margin-top: 10px;
  background-color: rgb(243, 236, 236);
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.todo-Item {
  display: flex;
  padding: 5px;
}

.newInput {
  justify-self: flex-start;
  border: none;
  width: 100%;
  margin-left: 10px;
}

.fa-solid {
  cursor: pointer;
  transition: 0.25s ease;
}

.fa-solid:hover {
  color: red;
}
